# Python Abaqus Tutorial
*By: Matheus C. Fernandes*
*Date: 2/21/2019*

## Intro
In this document we will go over the basics of Python programming necesseray to construct an ABAQUS python script. In order to effectively write ABAQUS scripts it is important to realize how Python itself works and how Python is implemented in ABAQUS.

## Python Versions
Python is a widely used programming language outside of ABAQUS. You may have heard of it's name here or there since it is an open source free software package anyone can download and install in their computers. A lot of the web and applications use Python as a language. ABAQUS many years ago, adopted Pythons as it's main scirpting language for all of it's software. It is important to note that as any open source language, Python has been evolving to different versions over time. As these versions evolve, free open source packages as well as the base syntax of Python has also evolved. The most current version of Python adopted by industry is version 3.6. ABAQUS scripting uses it's own proprietary installation of Python, and that installation up until ABAQUS 2018 version is still stuck at Python 2.7. To check the version of Python you're using you can simply type the following two lines on the Python prompt:
```python
import sys
sys.version
```
The output for ABAQUS 2017 yields the response
```
'2.7.3 (default, Feb  6 2016, 06:24:46) [MSC v.1700 64 bit (AMD64)]'
```
Which is far from the standard Python versions used in installations of Anaconda etc.

Now that we have covered some basic background, we will go over some useful commands that you can use in ABAQUS. We will focus on the syntax used for Python version 2.7 instead of Python 3.6 because that is what is used in ABAQUS.

## Variable Types and Operations

As any other programing language, when you define a variable, the variable takes shape as different types. Variable types can vary from strings, to integers and dictionaries. Here we will go over some nuances in defining variable types and changing variable types.

Let's begin by defining 3 different variables in slightly different ways and checking what type of variable it is.

In [6]:
a=3
b=3.5
c='t'
print type(a)
print type(b)
print type(c)

<type 'int'>
<type 'float'>
<type 'str'>

Now what happens if we do simple multiplication and addition operations.

In [12]:
print a*a
print a*b

9
10.5

Now what happens if we do power operations. Note: you may be used from Matlab syntax that to make something to the power of something you use `^` but in Python the syntax is to use `**` instead.

In [17]:
print a**b

46.7653718044

The carrot symbol `^` is used for bitwise XOR operation. Each bit position in the result is the logical XOR of the bits in the corresponding position of the operands. (1 if the bits in the operands are different, 0 if they are the same.) This is not particularly useful for ABAQUS scripting, but certainly something that could cause a numerical bug when making computations assuming it is providing the power operation. Note: for this operation I am only performing the operation on integers and not on floats (doing this operation of floats would give you an error).

In [27]:
print 1^1
print 1^2
print 1^3

0
3
2

Now, to the most common bug you will bang your head against the wall figuring out what is going on. Accidentally doing an operation with an integer instead of a float. If you cannot figure out why you have a bug in your code, you should start thinking: where did I accidentally define an integer instead of a float.

In [15]:
print a
print 1/a

3
0

An easy way to fix this is to simply always use a ```.``` at the end of each variable operation and definition when you want it to be a float.

In [28]:
print 1./a

0.333333333333

You can also do multiplication operations on strings as seen below.

In [18]:
print c*a

ttt

You can only do operations on strings using integers. So, if I convert the integer into a float it will spit an error

In [ ]:
print c*float(a)

You can also do incrementations to your variables very quickly. The two following expressions are equivalent.

In [34]:
x=1.
y=3.
x=x+1.
y+=1.

print 'x =',x,'; y =',y

x = 2.0 ; y = 4.0

You can find more information on oerators in Python, in this following page: https://realpython.com/python-operators-expressions/

## Printing Different File Types
The reason this is useful is because this is also how you would print your output obtained from the ODB into a text file. We will cover printing into a text file at a later section in this document.

In [35]:
string1 = 'World'
print 'Hello', string1

string2 = '!'
print 'Hello', string1, string2

Hello World
Hello World !

In [36]:
print 'Hello' + string1 + string2

HelloWorld!

In [37]:
print "Hello %s" % string1

Hello World

Similarly, when using other data types

- %s -> string
- %d -> Integer
- %f -> Float
- %o -> Octal
- %x -> Hexadecimal
- %e -> exponential

In [39]:
print "Actual Number = %d" %18
print "Float of the number = %f" %18
print "Octal equivalent of the number = %o" %18
print "Hexadecimal equivalent of the number = %x" %18
print "Exponential equivalent of the number = %e" %18

Actual Number = 18
Float of the number = 18.000000
Octal equivalent of the number = 22
Hexadecimal equivalent of the number = 12
Exponential equivalent of the number = 1.800000e+01

In [40]:
print "Jan\nFeb\nMar\nApr\nMay\nJun\nJul\nAug"

Jan
Feb
Mar
Apr
May
Jun
Jul
Aug

## PrecisionWidth and FieldWidth

Fieldwidth is the width of the entire number and precision is the width towards the right. One can alter these widths based on the requirements.

The default Precision Width is set to 6.

In [41]:
"%f" % 3.121312312312

'3.121312'

Notice upto 6 decimal points are returned. To specify the number of decimal points, '%(fieldwidth).(precisionwidth)f' is used.

In [42]:
"%.5f" % 3.121312312312

'3.12131'

If the field width is set more than the necessary than the data right aligns itself to adjust to the specified values.

In [43]:
"%9.5f" % 3.121312312312

'  3.12131'

Zero padding is done by adding a 0 at the start of fieldwidth.

In [44]:
"%020.5f" % 3.121312312312

'00000000000003.12131'

For proper alignment, a space can be left blank in the field width so that when a negative number is used, proper alignment is maintained.

In [45]:
print "% 9f" % 3.121312312312
print "% 9f" % -3.121312312312

 3.121312
-3.121312

'+' sign can be returned at the beginning of a positive number by adding a + sign at the beginning of the field width.

In [48]:
"%-9.3f" % 3.121312312312

'3.121    '

## Data Structures
In simple terms, It is the the collection or group of data in a particular structure.


## Lists
Lists are the most commonly used data structure. Think of it as a sequence of data that is enclosed in square brackets and data are separated by a comma. Each of these data can be accessed by calling it's index value.

Lists are declared by just equating a variable to '[ ]' or list.

In [49]:
a = []
print type(a)

<type 'list'>

In [50]:
x = ['apple', 'orange']

## Indexing
In python, Indexing starts from 0. Thus now the list x, which has two elements will have apple at 0 index and orange at 1 index.

In [51]:
x[0]

'apple'


Indexing can also be done in reverse order. That is the last element can be accessed first. Here, indexing starts from -1. Thus index value -1 will be orange and index -2 will be apple.

In [52]:
x[-1]

'orange'

In [53]:
y = ['carrot','potato']